$font-roboto-mono: 'Roboto Mono', monospace;
$font-roboto: 'Roboto', sans-serif;
$font-raleway: 'Raleway', sans-serif;
$titulo-gris: rgb(66, 66, 66);
$contenido-gris: rgb(65, 69, 73);
$color-footer: rgb(95, 99, 104);
$color-hr-azul: rgb(66, 133, 244);
$font-footer:.9rem;