@import 'grid';
@import 'variables';
* {
  font-family: $font-contenido;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.horizontal {}

.header {
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    li {
      padding: 1%;
    }
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.titule {
  font-family: $font-titulo;
  color: $titulo-gris;
}

.content {
  font-family: $font-contenido;
  color: $contenido-gris;
}

.method-podcast {
  height: 100vh;
  h1 {
    font-size: 2.25rem;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    margin-bottom: 23px;
    letter-spacing: .4px;
  }
  h3 {
    font-size: 1.25rem;
    font-weight: 500;
    font-style: normal;
    line-height: 28px;
    margin-bottom: 23px;
  }
  p {
    max-height: 96px;
    line-height: 24px;
  }
}

.date {
  font-family: $font-fecha;
}

.img-asana {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}
