@import 'grid';
@import 'variables';
@import 'mixin';
* {
  font-family: $font-raleway;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.header {
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    li {
      padding: 1%;
    }
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.titule {
  font-family: $font-roboto;
  color: $titulo-gris;
}

.content {
  font-family: $font-raleway;
  color: $contenido-gris;
}

.method-podcast {
  height: 100vh;
  h1 {
    font-size: 2.25rem;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    margin-bottom: 23px;
    letter-spacing: .4px;
  }
  h3 {
    font-size: 1.25rem;
    font-weight: 500;
    font-style: normal;
    line-height: 28px;
    margin-bottom: 23px;
  }
  p {
    max-height: 96px;
    line-height: 24px;
  }
}

.date {
  font-family: $font-roboto-mono;
}

.img-asana {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}
.container{
  hr{
    border: 2px solid $color-hr-azul;
  }
}
footer{
  box-shadow: 0 -0.1875rem 0.125rem #efefef;
  width: 100%;
  padding: 3%;
}
.footer-text{
 @include text-footer ($font-footer)
}
ul{
  @extend .footer-text;
  list-style: none;
  display: inline-block;
}